---
title: <display name>

image: images/team/<file name>
role: <pi, postdoc, phd, masters, undergrad, or programmer>

<!-- name variations to include when generating list of this person's papers --> 
<!--
search:
  - <name variation 1>
  - <name variation 2>
-->

<!-- add person to alumni group -->
<!-- group: alum -->

<!-- display contact info/social media -->
<!-- email: <email> -->
<!-- website: <url> -->
<!-- github: <username> -->
<!-- twitter: <username> -->

---

<!-- bio -->

