    {% assign members = site.members %}

{% if include.order and site.data[include.order] %}
{% assign members = "" | split: "" %}
{% for name in site.data[include.order] %}
{% assign path = name | append: ".html" %}
{% for member in site.members %}
{% if member.url contains path %}
{% assign members = members | push: member %}
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if include.role != nil %}
{% if include.role == "" %}
{% assign role = nil %}
{% else %}
{% assign role = include.role %}
{% endif %}
{% assign members = members | where_exp: "member", "member.role == role" %}
{% endif %}

{% if include.group != nil %}
{% if include.group == "" %}
{% assign group = nil %}
{% else %}
{% assign group = include.group %}
{% endif %}
{% assign members = members | where_exp: "member", "member.group == group" %}
{% endif %}

<div class="centered_alumni">
{% for member in members %}
    {%-
        include alumni-portrait.html
        name=member.title
        link=member.url
        image=member.image
        role=member.role
        mini=include.mini
        email=member.email
        linkedin=member.linkedin
        github=member.github
        twitter=member.twitter
        google=member.google
        website=member.website

        lab_member_years=member.lab_member_years
        alma_mater=member.alma_mater
        current_job_position=member.current_job_position

    -%}
{% endfor %}
</div>