<!-- Updates Section -->
    <section id="updates">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Recent Updates</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                  <ul>
                    <li> November 2021: Update.html created </li>
                  </ul>
                </div>
            </div>
        </div>
    </section>
